{
  "operator": {{ operator_name | tojson }},
  "version": {{ operator_version | tojson }},
  "family": {{ operator_family | tojson }},
  "template_revision": {{ template_revision | tojson }},
  "contract_version": {{ contract_version | tojson }}
}
